<div class="container">
  <div class="row">
    <div class="col-md-3 text-center rounded my-4 ">
     <h4 style="background-color: #dcdcdc">会員情報編集</h4>
    </div>
  </div>

  <div class="row justify-content-start">
  <%= form_with model: @customer, url: public_customer_path do |f| %>

 <table>
  <tr>
   <th class="col-md-3 p-2 ">名前</th>
   <td class="col-md-4 p-2 ">
    <%= f.text_field :last_name %>
    <%= f.text_field :first_name %>
   </td>
  </tr>

  <tr>
   <th class="col-md-3 p-2 ">フリガナ</th>
   <td class="col-md-4 p-2 ">
    <%= f.text_field :last_name_kana %>
    <%= f.text_field  :first_name_kana %>
   </td>
   <th>
   </th>
  </tr>

  <tr>
   <th class="col-md-3 p-2 ">郵便番号</th>
   <td class="col-md-4 p-2 ">
    <%= f.text_field  :postal_code %>
   </td>
  </tr>

  <tr>
   <th class="col-md-3 p-2 ">住所</th>
   <td class="col-md-4 p-2 ">
    <%= f.text_area  :address, style:"width: 450px; height: 30px" %>
   </td>
  </tr>

  <tr>
   <th class="col-md-3 p-2 ">電話番号</th>
   <td class="col-md-4 p-2 ">
    <%= f.text_field  :telephone_number %>
   </td>
  </tr>

  <tr>
   <th class="col-md-5 p-2">メールアドレス</th>
   <td class="col-md-4 p-2 ">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
   </td>
  </tr>

  <tr>
   <th></th>
   <th class="col-md-4 m-2">
     <input class="btn btn-success" type="submit" value="編集内容を保存">

    <%= link_to  public_unsubscribe_path,  class: "btn btn-danger " do %>
     <%= "退会する" %>
    <% end %>
   </th>
  </tr>
 </table>
<% end %>