<div class="container">
  <div class="row justify-content-start">
    <div class="col-sm-3  rounded  m-4">
     <h4 class="text-center", style="background-color: #dcdcdc">商品編集</h4>
    </div>
  </div>

  <div class="row justify-content-center">
   <%= form_with model: @item, url: admin_item_path(@item.id) do |f| %>
 　<table>
　  <tr>
　   <th class="col-md-2">商品画像</th>
　   <td class="col-md-7 p-2">
　     <%= f.file_field :image, accept: "image/*" %>
　   </td>
　  </tr>
　  <tr>
　   <th class="col-md-2">商品名</th>
　   <td class="col-md-7 p-2">
　    <%= f.text_field :name, placeholder:"商品名", style:"width: 400px;" %>
　   </td>
　  </tr>
　  <tr>
　   <th class="col-md-2">商品説明</th>
　   <td class="col-md-7 p-2">
　    <%= f.text_area :introduction,style:"width: 400px; height: 200px;" %>
　   </td>
　  </tr>
    <tr>
　     <th class="col-md-2">ジャンル</th>
　     <td class="col-md-8 p-2">
　      <%= f.collection_select :genre_id,  Genre.all, :id, :name,{ prompt: "--選択してください--" }, { class: "form-select", style: "width:400px;" } %>
　     </td>
    </tr>
　  <tr>
　   <th class="col-md-2">税抜価格</th>
　   <td class="col-md-7 p-2">
　    <%= f.text_field :price,style: "width:350px;" %>円
　   </td>
　  </tr>
　  <tr>
　   <th class="col-md-3">販売ステータス</th>
　   <td class="col-md-7 p-3">
　    <%= f.radio_button :is_active, "true" %>
      <%= f.label :is_activ_true, "販売中", class: "p-3" %>

      <%= f.radio_button :is_active, "false" %>
      <%= f.label :is_activ_false, "販売停止中", class: "p-3"  %>
　   </td>
　  </tr>


   <tr>
     <th></th>
　   <th class="col-md-2  justify-content-center">
　    <div class="actions">
       <%= f.submit "変更を保存",class: "btn btn-success btn-lg" %>
      </div>
     </th>
    </tr>
   </table>
   <% end %>
  </div>