<div class="container">
 <div class="row">
    <div class="col-sm-4   rounded px-2 my-4">
     <h5 class="text-center", style="background-color: #dcdcdc"><%= @customer.last_name %><%= @customer.first_name %>の会員情報編集</h5>
    </div>
 </div>

 <div class="row-fluid justify-content-start">
 <table>
   <%= form_with model:@customer, url: admin_customer_path(@customer.id) do |f| %>
    <tr>
    <th class="col-md-1 p-2 ">会員ID</th>
    <td class="col-md-4 p-2 "><%= @customer.id %> </td>
   </tr>
   <tr>
    <th class="col-md-1 p-2 ">氏名</th>
    <div class="field">
    <td class="col-md-4 p-2 ">
      <%= f.text_field :last_name %>
      <%= f.text_field :first_name %>
    </td>
    </div>
   </tr>

   <tr>
    <th class="col-md-1 p-2 ">フリガナ</th>
    <div class="field">
    <td class="col-md-4 p-2 ">
     <%= f.text_field :last_name_kana %>
     <%= f.text_field  :first_name_kana %>
    </td>
    </div>
  </tr>

  <tr>
   <th class="col-md-1 p-2 ">郵便番号</th>
   <td class="col-md-4 p-2 ">
   <div class="field">
    <%= f.text_field  :postal_code %>
   </div>
   </td>
  </tr>

  <tr>
   <th class="col-md-1 p-2 ">住所</th>
   <td class="col-md-5 p-2 ">
   <div class="field">
    <%= f.text_area  :address, style:"width: 450px; height: 30px"  %>
   </div>
   </td>
  </tr>

  <tr>
   <th class="col-md-1 p-2 ">電話番号</th>
   <td class="col-md-4 p-2 ">
    <div class="field">
     <%= f.text_field  :telephone_number %>
    </div>
   </td>
  </tr>

  <tr>
   <th class="col-md-1 p-2 ">メールアドレス</th>
   <td class="col-md-4 p-2 ">
   <div class="field">
    <%= f.email_field :email %>
   </div>
   </td>
  </tr>
　<tr>
　 <th class="col-md-1 p-2 ">会員ステータス</th>
　 <th class="form-check form-check-inline ">

　  <%= f.radio_button :is_deleted, false, class: "form-check-input
　  " %>
    <%= f.label :is_deleted, "有効",class: "form-check-label mx-3" %>

    <%= f.radio_button :is_deleted, true, class: "form-check-input mx-3" %>
    <%= f.label :is_deleted, "退会", class: "form-check-label " %>
　 </th>
　</tr>

　<tr>
　<th></th>
　<th>
　 <div class="actions ">
    <input class="btn btn-success " type="submit" value="変更を保存">
   </div>
　</th>
  </tr>
 </table>
 </div>

 <% end %>



