<h2><%= @customer.last_name %><%= @customer.first_name %>の会員詳細</h2>

 <table>
  <tr>
   <th>会員ID</th>
   <th><%= @customer.id %> </th>
  </tr>
  <tr>
   <th>氏名</th>
   <th>
    <%= @customer.last_name %>
   </th>
   <th>
    <span>
     <%= @customer.first_name %>
    </span>
   </div>
   </th>
  </tr>

  <tr>
   <th>フリガナ</th>
   <th>
  　<%= @customer.last_name_kana %>
   </th>
   <th>
    <span>
    <%= @customer.first_name_kana %>
    </span>

   </th>
  </tr>

 <tr>
  <th>郵便番号</th>
  <th>
    <%= @customer.postal_code %>

   </th>
  </tr>

  <tr>
   <th>住所</th>
   <th>
    <%= @customer.adress %>

   </th>
  </tr>

  <tr>
  <th>電話番号</th>
   <th>
    <%= @customer.telephone_number%>

   </th>
  </tr>

  <tr>
  <th>メールアドレス</th>
   <th>
   <%= @customer.email %>

   </th>
  </tr>

  <tr>
    <th>会員ステータス</th>
    <td>
     <% if @customer.is_deleted? %>
      有効
     <% else %>
      退会
     <% end %>
    </td>
  </tr>
  <tr>
   <th></th>
   <th>
   <div class="actions">
    <%= link_to "編集する", edit_admin_customer_path(@customer.id) %>
   </div >
   </th>
   <th>
    <div class="actions">
    <%= link_to "注文履歴一覧を見る" %>
   </div>
   </th>
  </tr>
 </table>

