<h2>配送先登録/一覧</h2>


<%= form_with model:@address, url: public_addresses_path, method: :post do |f| %>

<table>
  <tr>
   <th>郵便番号</th>
   <td><%= f.text_field :postal_code %></td>
  </tr>
  <tr>
   <th>住所</th>
   <td> <%= f.text_area :address %> </td>
  </tr>
  <tr>
    <th>宛名</th>
    <td> <%= f.text_field :name %> </td>
  </tr>
  <tr>
   <th> <%= f.submit "新規登録" %> </th>
  </tr>
</table>
<% end %>



<table>
 <thead>
 <tr>
  <th >郵便番号</th>
  <th >住所 </th>
  <th>宛名</th>
  <th></th>
 </tr>
 </thead>

 <% @addresses.each do |shipping_address| %>
  <tbody>
   <tr>
    <td><%= shipping_address.postal_code %></td>
    <td><%= shipping_address.address%></td>
    <td><%= shipping_address.name %></td>
    <%= form_with model:@address, url: public_orders_path do |f| %>
     <td>
      <%= f.hidden_field :customer_id, :value => @customer_id %>
     </td>
    <% end %>
    <th><%= link_to "編集する", edit_public_address_path(shipping_address) %></th>
    <th><%= link_to "削除する", public_address_path(shipping_address), method: :delete %></th>
   </tr>
  </tbody>
 <% end %>
</table>




