<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
 <table>
  <tr>
   <th>名前</th>
   <th>
   <div class="field">
    <%= f.label "(姓)" %>
    <%= f.email_field :last_name, placeholder: "令和" %>
   </th>
   <th>
    <span>
     <%= f.label "(名)" %>
     <%= f.email_field :first_name, placeholder: "道子" %>
    </span>
   </div>
   </th>
  </tr>

  <tr>
   <th></th>
   <th>
   <div class="field">
    <%= f.label "（セイ）" %>
    <%= f.email_field :last_name_kana, placeholder: "レイワ" %>
   </th>
   <th>
    <span>
    <%= f.label "（メイ）" %>
    <%= f.email_field :first_name_kana, placeholder: "ミチコ" %>
    </span>
   </div>
   </th>
  </tr>

 <tr><th></th>
  <th>
   <div class="field">
    <%= f.label "郵便番号（ハイフンなし）" %>
    <%= f.email_field :postal_code, placeholder: "0000000" %>
   </div>
   </th>
  </tr>

  <tr><th></th>
   <th>
   <div class="field">
    <%= f.label "住所" %>
    <%= f.email_field :adress, placeholder: "東京都渋谷区代々木神園町0-0" %>
   </div>
   </th>
  </tr>

  <tr><th></th>
   <th>
    <div class="field">
     <%= f.label "電話番号(ハイフンなし）" %>
     <%= f.email_field :telephone_number, placeholder: "00000000000" %>
    </div>
   </th>
  </tr>

  <tr><th></th>
   <th>
   <div class="field">
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
   </div>
   </th>
  </tr>
  <tr><th></th>
   <th>
   <div class="field">
    <%= f.label "パスワード（６文字以上）" %>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
   </div>
   </th>
  </tr>

  <tr><th></th>
   <th>
   <div class="field">
    <%= f.label "パスワード（確認用）" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
   </div>
   </th>
  </tr>
  <tr><th></th>
   <th>
   <div class="actions">
    <%= f.submit "新規登録" %>
   </div>
   </th>
  </tr>
 </table>
<% end %>

 <h3>既に登録済みの方</h3>
<a href="/customers/sign_in">こちら</a>  からログインしてください。
