<div class="container">
  <div class="row justify-content-start">
    <div class="col-sm-3  rounded  m-3">
     <h5 class="text-center", style="background-color: #dcdcdc">注文履歴詳細</h5>
    </div>
  </div>


  <div class="row">
   <div class="col-md-6">
    <h6>注文情報</h6>
      <table class="table table-bordered mx-2">
      <tr>
       <th class="col-3"  style="background-color: #dcdcdc">注文日</th>
       <td class="col-6"><%= l @order.created_at, format: :date %></td>
      </tr>
      <tr>
       <th class="col-3"  style="background-color: #dcdcdc">配送先</th>
       <td class="col-6">〒<%= @order.delivery_postal_code %></br>
        <%= @order.delivery_address %></br>
        <%= @order.delivery_name %>
       </td>
      </tr>
      <tr>
       <th class="col-3"  style="background-color: #dcdcdc">支払方法</th>
       <td class="col-6"><%= @order.payment_i18n %></td>
      </tr>
      <tr>
       <th class="col-3"  style="background-color: #dcdcdc">ステータス</th>
       <td class="col-6"><%= @order.order_status_i18n %></td>
      </tr>
      </table>
   </div>

   <div class="col-md-6">
    <h6 >請求情報</h6>
    <table class="table table-bordered mx-2">
     <tr>
      <th class="col-2"  style="background-color: #dcdcdc">商品合計</th>
      <td class="col-2">
       <% @total = 0 %>
       <% @total=@order.amount_billed -  @order.shipping_fee %>
       <%= @total %>
      </td>
     </tr>
     <tr>
      <th class="col-2" style="background-color: #dcdcdc">配送料</th>
      <td class="col-2"><%= @order.shipping_fee %></td>
     </tr>
     <tr>
      <th class="col-2" style="background-color: #dcdcdc">ご請求額</th>
      <td class="col-2"><%= @order.amount_billed %></td>
     </tr>
    </table>
   </div>
  </div>
  <h5>注文内容</h5>

  <table class="table table-bordered mx-2">
   <thead  style="background-color: #dcdcdc">
    <tr>
     <th class="col-5">商品</th>
     <th class="col-2">単価（税込）</th>

     <th class="col-2">個数</th>
     <th class="col-2">小計</th>
    </tr>
   </thead>
   <% @order_details.each do |detail| %>

   <tbody>
    <tr>
     <td><%= detail.item.name %></td>
     <td><%= detail.unit_price %></td>
     <td><%= detail.amount %></td>
     <td><%= detail.unit_price*detail.amount %></td>
    </tr>
   </tbody>
   <% @total += detail.unit_price*detail.amount %>
   <% end %>
  </table>
</div>



