<h2>ログイン</h2>
<table>
 <tr>
  <th>会員の方はこちらからログイン</th><th></th>
 </tr>
 <tr>
 <%= form_with model:@customer, url: customer_session_path do |f| %>
  <th>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  </th>
 </tr>
 <tr>
  <th>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  </th>
 </tr>
 <tr>
  <th>
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
  </th>
 </tr>
<% end %>
</table>

<h4>会員登録がお済みでない方</h4>
<a href="/customers/sign_up">こちら</a>  から新規登録してください
